-
  const ttl = "PG Study"
  const mention = 
  `日々の学習を記録しましょう◎
  
  記録の仕方
  ①日付を指定(※必須)
  ②タグを自由に入力(3つまで。未入力OK)
  ③タグ毎に学習時間を入力
  ④学習記録を自由に入力
  ⑤追加

  日付を選択すると過去の登録を確認・編集・削除できます
  
  ※注意点※
  タグは大文字・小文字違うと合算されません`

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/c3/c3.css")
  body
    header
      h1 #{ttl}
    main
      button#loginBtn(onclick="loginFC()") ログイン
      button#logoutBtn(onclick="logoutFC()" disabled) ログアウト
      p#userName ログインしてください
      img#userPhoto.display-block

      h3#ttlTime

      div.main-display-none
        p.validate-message-calendar(type="text") 日付を選択してください
        input#addDate.display-inline(type="date")
        span#dailyTime(style="padding-left:10px")
        //- button(onclick="diaryCheck()") 確認
        p.caution-message ※必須
        table#table
          tr
            td タグ
            td 時間
          tr
            td
              input#addTag(type="text" value="" placeholder="")
            td
              select#timeH(name="timeH")
                - for (var x = 0; x < 24; x++)
                  option(value=x) #{x}
              span 時間
              select#timeM(name="timeM")
                - for (var x = 0; x < 60; x++)
                  option(value=x) #{x}
              span 分
          //- tr#tag2.display-none
          tr#tag2
            td
              input#addTag2(type="text" value="" placeholder="")
            td
              select#timeH2(name="timeH")
                - for (var x = 0; x < 24; x++)
                  option(value=x) #{x}
              span 時間
              select#timeM2(name="timeM")
                - for (var x = 0; x < 60; x++)
                  option(value=x) #{x}
              span 分
          //- tr#tag3.display-none
          tr#tag3
            td
              input#addTag3(type="text" value="" placeholder="")
            td
              select#timeH3(name="timeH")
                - for (var x = 0; x < 24; x++)
                  option(value=x) #{x}
              span 時間
              select#timeM3(name="timeM")
                - for (var x = 0; x < 60; x++)
                  option(value=x) #{x}
              span 分

        //- button#tagAddBtn(onclick="tagAdd()" class="display-block") タグ追加
          

        
        p 学習記録
        textarea#addDiary(placeholder=mention)

        button#addBtn(onclick="addDataFB()" class="display-block") 追加
        div#editRemoveBtn.display-none
          button(onclick="editDataFB()") 更新
          button(onclick="removeDataFB()") 削除

        p 学習割合
        div#chart
        p 学習推移
        div#chart2

    script(src="https://www.gstatic.com/firebasejs/7.15.2/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.2/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.2/firebase-database.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.2/firebase-auth.js")
    script(src="./js/c3/d3-5.8.2.min.js" charset="utf-8")
    script(src="./js/c3/c3.min.js")
    script(src="./js/useful.js")
    script(src="./js/index.js")
    script(src="./js/validate.js")
    script(src="./js/firebase/init.js")
    script(src="./js/firebase/auth.js")
    script(src="./js/firebase/database.js")
    script(src="./js/diary.js")
    script(src="./js/mktag.js")
    script(src="./js/c3.js")